/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FLEX */

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    height: 50px;
    background-color: black;
    text-align: right;
}


.box-text{
    width: 95px;
    background-color: rgb(133, 124, 116);
    margin-right: 2rem;
    text-align: center;
    border-radius: 5px;

} 

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.box-icon{
    width: 22px;
    background-color: rgb(133, 124, 116);
    display: inline-block;
    font-size: 13px; 
    padding: 3px;
    border-radius: 5px;

}


.big-screen{
    width: 100vw;
    height: calc(100vh - 130px);
    background-color: black;
    overflow-y: auto;
}




.p-relative{
    position: relative;
}

p, 
.top-right {
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
}


.white-text{
     color: white;
}


.photos{
    width: 150px;
    height: 100px;
}


img{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 2.5px;
    padding-left: 2.5px;
}

.bottom-left{
    left: 8px;
    top: 88px;
    font-size: 12px;
    background-color: rgb(103, 115, 126);
    width: 100px;
}


i{
    padding-right: 0.5rem;
    display: inline-block;
    margin: 0.25;
}

footer{
    height: 80px;
    background-color: black;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.height{
    height: 100%;
}

.between{
    justify-content: space-between;
}

.text-header{
    padding: 0.5rem;
}

.grey-bg{
    background-color: rgb(74, 74, 74);
    color: red;
}


.fa-chevron-up{
    padding: 0.5rem;
}
