/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FLEX */

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    height: 50px;
    background-color: black;
}

.big-screen{
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: black;
    overflow: auto;
}

.main-container{
    width: 90%;
}

.p-relative{
    position: relative;
}

p, 
.top-right{
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
}

.text-top{
    flex-direction: row;
}



.photos{
    width: calc (100% / 7 - 5 px);
}


img{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 2.5px;
    padding-left: 2.5px;
}

.bottom-left{
    left: 8px;
    top: 88px;
    font-size: 12px;
    background-color: rgb(103, 115, 126);
    width: 100px;
}


.box-icon{
width: 15px;
background-color: rgb(133, 124, 116);

}

.box-text{
    width: 215px;
    background-color: rgb(133, 124, 116);
}

i{
    padding-right: 0.5rem;
}

footer{
    height: 50px;
    background-color: aqua;
}

